@import "../../styles/_variables.scss";
@import "../../styles/mixins.scss";

.btn {
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  border-radius: 1px;
  padding: 15px 20px;
  display: inline-block;
  font-weight: 600;
  color: $white;
  border: 0 none;
  background: transparent;
  cursor: pointer;

  &.blocked {
    display: block;
    width: 100%;
  }

  @include theme-accent;
}
