// Screen sizes
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1300px;
$screen-full: 1400px;

// Colors
$white: #f9f9f9;
$white-2: #ffffff;
$white-3: #ecebe9;

$weird-green: #57e690;
$kiwi-green: #8fe460;
$pastel-orange: #ff915b;
$pale-orange: #ffbe5b;
$light-gold: #ffdf5b;

// unspecified color names :)
// Reference: https://colors.artyclick.com/color-name-finder/
$thunder: #303030;
$sorrell-brown: #cfb995;
$sorrel-brown-1: #d0ba93;
$nobel: #b2b2b2;
$sunset-orange: #ff5b5b;
$turquoise-blue: #57dbe6;
$carbon-grey: #5e5e5e;
