@import "../../styles/_variables.scss";

.category-list-filter {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 15px;
    column-count: 5;
    flex-flow: row wrap;
    li {
      flex-basis: 19%;
    }
  }
}
